<% content_for :title do %>Sonnen Battery<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="charge" data-view="Meter" data-title="Charge" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="battery-power" data-view="Number" data-title="Battery Power" data-moreinfo="In Watts" data-prefix="W"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="" data-view="Number" data-title="Battery Power" data-moreinfo="In Watts" data-prefix="W"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="consumption" data-view="Number" data-title="House Consumption" data-moreinfo="In Watts" data-prefix="W"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="production" data-view="Number" data-title="Production" data-moreinfo="In Watts" data-prefix="W"></div>
    </li>

  </ul>
</div>
